<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" (click)=getOrders()>All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="viewNewOrders()">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="viewCompletedOrders()">Completed</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" (click)="viewCancelledOrders()">Cancelled</a>
  </li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput placeholder="Search Orders" (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <table mat-table [dataSource]="order" matSort class="container-fluid ">
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> Order Id

        </th>
        <td mat-cell *matCellDef="let element">

          <a>{{element.orderId}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="date">

        <th mat-header-cell *matHeaderCellDef> Date <br>


        </th>
        <td mat-cell *matCellDef="let element"> {{element.orderDate | date}} </td>
      </ng-container>


      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status<br>



        </th>
        <td mat-cell *matCellDef="let element">

          <mat-form-field>
            <mat-label>Select Status:</mat-label>
            <mat-select [(value)]="element.orderStatus" (selectionChange)="orderStatusUpdate($event, element._id)">
              <mat-option *ngFor="let stat of status; let i = index" [value]="stat">
                {{stat}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total<br>

        </th>
        <td mat-cell *matCellDef="let element">{{element.total}} </td>
      </ng-container>
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef>view
        </th>
        <td mat-cell *matCellDef="let element">

          <a (click)="viewSingleOrder(element)" style="cursor: pointer">
            <mat-icon>visibility </mat-icon>
          </a> </td>
      </ng-container>
      <!--   <mat-row *matRowDef="4" [class.hidden]="true">
        <app-single-order  [order]="order"></app-single-order>
      </mat-row> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>